{% assign src = include.src %}
{% assign alt = include.alt %}
{% assign caption = include.caption %}
<p>
  <img src="{{ src }}" alt="{{ alt }}">
  {% if caption %}
    <span>{{ caption }}</span>
  {% endif %}
</p>
